@model Mhasb.Domain.OrgSettings.ChartOfAccount

<div class="container my-dashboard">
    <div class="row clearfix">
        <h4 class="all-head">Chart Of Accounts</h4>
        <div class="col-md-6">
            
            <div class="row cstm-frm-row">
                <div class="col-md-4">
                    <label>Account Type:</label>
                </div>
                <div class="col-md-8">
                    <select class="cstm-input">
                        <option value="">--Select Account Type--</option>
                        <option value="">Assets</option>
                        <option value="">Liabilities </option>
                        <option value="">Equity </option>
                        <option value="">Expenses </option>
                        <option value="">Revenue </option>
                    </select>
                </div>
            </div>
            <div class="row cstm-frm-row">
                <div class="col-md-4">
                    <label>Account Name</label>
                </div>
                <div class="col-md-8">
                    <input class="cstm-input">
                </div>
            </div>
            <div class="row cstm-frm-row">
                <div class="col-md-4">
                    <label>Account Code</label>
                </div>
                <div class="col-md-8">
                    <input class="cstm-input">
                </div>
            </div>
            <div class="row cstm-frm-row">
                <div class="col-md-4">
                    <label>Account Description</label>
                </div>
                <div class="col-md-8">
                    <textarea class="cstm-tarea" placeholder="Type a text here"></textarea>
                </div>
            </div>
            <div class="row cstm-frm-row">
                <div class="col-md-4">
                    <label>Account Tax</label>
                </div>
                <div class="col-md-8">
                    <select class="cstm-input">
                        <option value="">--Select Account Tax--</option>
                        <option value="">Sales Tax on Imports (0%)</option>
                        <option value="">Tax Exempt (0%) </option>
                        <option value="">Tax on Purchases (0%) </option>
                        <option value="">Tax on Sales (0%) </option>

                    </select>
                </div>
            </div>
            <div class="row cstm-frm-row">
                <div class="col-md-4">
                    <label>Account Nature</label>
                </div>
                <div class="col-md-8">
                    <select class="cstm-input">
                        <option value="">--Select Account Nature--</option>
                        <option value="">Debit</option>
                        <option value="">Credit </option>

                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row cstm-frm-row">
                
                <div class="col-md-12">
                    <label>
                        <input type="checkbox"> Show on Dashboard Watchlist 
                    </label>
                </div>
            </div>
            <div class="row cstm-frm-row">

                <div class="col-md-12">
                    <label>
                        <input type="checkbox"> Show in Expense Claims 
                    </label>
                </div>
            </div>
            <div class="row cstm-frm-row">

                <div class="col-md-12">
                    <label>
                        <input type="checkbox"> Show on Dashboard Watchlist
                    </label>
                </div>
            </div>
            <div class="row cstm-frm-row">

                <div class="col-md-12">
                    <label>
                        <input type="checkbox"> This Account Is a Cost Center 
                    </label>
                </div>
            </div>
            <div class="row cstm-frm-row">
                <button class="btn btn-default" type="submit">Button</button>
            </div>
        </div>
    </div>
</div>