<tr class="cstm-table-clr">
    <td>
        <div class="dropdown form-border">
            <input class="dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a href="#" role="menuitem" tabindex="-1" class="" data-toggle="modal" data-target="#myModal">Add note</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
        </div>
    </td>
    <td><textarea class="cstm-tarea-click" placeholder=""></textarea></td>
    <td><textarea class="cstm-tarea-click1" placeholder=""></textarea></td>
    <td><textarea class="cstm-tarea-click1" placeholder=""></textarea></td>
    <td>
        <div class="dropdown form-border">
            <input class="dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
        </div>
    </td>
    <td>
        <div class="dropdown form-border">
            <input class="dropdown-toggle" type="text" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
            </ul>
        </div>
    </td>
    <td></td>
    <td class="crossx2"><a  class="RemoveRow" href="Javascript:Void(0);">X</a></td>
</tr>


<script>
    $(".RemoveRow").click(function () {
        $(this).closest('tr').remove();
    });
</script>