<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Language";

}
<div class="container">
    <div class="row">
        <div class="col-md-10">

            <div class="col-md-2">

                @Html.ActionLink("Create New", "Create", new { area = "Commons" }, new { @class = "btn btn-success" })
            </div>
            <div class="col-md-6 pull-right no-padding">

                <p>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "cstm-input", style = "width:88%" })
                    <button class="btn btn-info cstm-tbl-srch-btn" id="SearchStringBtn"><i class="fa fa-fw fa-search"></i></button>
                    @*  <input type="button" id="SearchStringBtn" class="btn btn-info" value="Search" /><i class="fa fa-fw fa-search"></i>*@
                </p>
            </div>


            @*@Html.Action("List")*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-10">

                <div id="LanguageListShow">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {

            $.get('@Url.Action("List", "Language", new { Area = "Commons" })' + '?page=', function (data) {
                $('#LanguageListShow').html(data);
            }
                );

        });
        $(document).on("click", "#SearchStringBtn", function () {
            var baseUrl = '@Url.Content("~/")';
            var SearchString = $("#SearchString").val();
            var url = baseUrl + "Commons/Language/List?page=''" + "&SearchString=" + SearchString;
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#content').html(result);
                }
            });
            return false;
        });
    </script>
}

