@model IEnumerable<Mhasb.Domain.Users.UserInRole>
@if (!Model.Any())
{
    <tr><td>There are no roles</td></tr>
}
else
{
    foreach (var item in Model)
    {
        <div class="checkbox checkbox-element">
            <label><input type="checkbox" name="RoleId" value="@item.RoleId" checked="@item.IsActive" /> @item.Roles.RoleName </label>
        </div><br />

    }
}
