@model Mhasb.Domain.Commons.AreaTime

@{
    Layout = "~/Areas/UserManagement/Views/Shared/_mhasbLayout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>AreaTime</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ZoneName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ZoneName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
