

    <!--start welcome dashboard section-->
    <div class="container my-dashboard">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="welcome">
                    <h4><a href="#">DASHBOARD</a></h4>
                    <p>
                        oday's Date Is March 28, 2015<br />
                        Time Now Is 21:17 <br />
                        Fiscal Year From January 1st 2015 to December 31/2015
                        @Html.ActionLink("Add Company", "Registration", "Company", new { area = "OrganizationManagement" },null)
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!--End welcome dashboard section-->
    <!-- Footer -->
    