@{
    Layout = "~/Areas/UserManagement/Views/Shared/_Layout_new.cshtml";

}
<div class="container my-dashboard">
    <div class="row clearfix">
        <h3 class="all-head">Dashboard</h3>
        <div class="row">
            <div class="col-md-6 info-top">
                <p><i class="fa fa-calendar"></i>Tue 12,May 2015</p>
                <p><i class="fa fa-clock-o"></i>11:53 AM</p>
                <p><i class="fa fa-bar-chart"></i>January 1st 2015 to December 5th 2015</p>
            </div>
            <div class="col-md-6 info-top">
                <p><i class="fa fa-map-marker"></i>Newyork, USA</p>
                <p><i class="fa fa-money"></i>USD</p>
                <p><i class="fa fa-cloud"></i>Weather Today</p>
            </div>
        </div>
        <hr>
        <div class="row card-container">
            <div class="col-md-3">
                <div class="row clearfix card">
                    <img class="paper-pin" src="~/img/paperclip.png" alt="clip" />
                    <h4 class="all-head">Sales Today</h4>
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <input class="cstm-input" type="text" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <input class="cstm-input" type="text" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Cash Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Credit Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Total Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Report:</label>
                            <a class="btn btn-primary btn-sm" href="" role="button">Review</a>
                            <a class="btn btn-primary btn-sm" href="" role="button">Print</a>
                            <a class="btn btn-primary btn-sm" href="" role="button">Graph</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row clearfix card">
                    <img class="paper-pin" src="~/img/paperclip.png" alt="clip" />
                    <h4 class="all-head">Sales Today</h4>
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <input class="cstm-input" type="text" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <input class="cstm-input" type="text" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Cash Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Credit Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Total Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Report:</label>
                            <a class="btn btn-primary btn-sm" href="" role="button">Review</a>
                            <a class="btn btn-primary btn-sm" href="" role="button">Print</a>
                            <a class="btn btn-primary btn-sm" href="" role="button">Graph</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row clearfix card">
                    <img class="paper-pin" src="~/img/paperclip.png" alt="clip" />
                    <h4 class="all-head">Sales Today</h4>
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <input class="cstm-input" type="text" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <input class="cstm-input" type="text" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Cash Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Credit Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Total Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Report:</label>
                            <a class="btn btn-primary btn-sm" href="" role="button">Review</a>
                            <a class="btn btn-primary btn-sm" href="" role="button">Print</a>
                            <a class="btn btn-primary btn-sm" href="" role="button">Graph</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row clearfix card">
                    <img class="paper-pin" src="~/img/paperclip.png" alt="clip" />
                    <h4 class="all-head">Sales Today</h4>
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <input class="cstm-input" type="text" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="row cstm-frm-row">
                        <div class="col-md-12">
                            <input class="cstm-input" type="text" placeholder="mm/dd/yyyy">
                        </div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Cash Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Credit Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row info-div">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><label>Total Sales:</label></div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 no-padding"><span class="">Qr. 1000</span></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Report:</label>
                            <a class="btn btn-primary btn-sm" href="" role="button">Review</a>
                            <a class="btn btn-primary btn-sm" href="" role="button">Print</a>
                            <a class="btn btn-primary btn-sm" href="" role="button">Graph</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>