
@{
    ViewBag.Title = "Registration Success";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>RegistrationSuccess</h2>

<b>Your Registration Has completed Succefully. Please Verify you email. Welcome to Mhasb World !!!</b>
@Html.ActionLink("Go to Dashboard", "Dashboard", "Users")
