@{
    Layout = "~/Views/Shared/Land_new.cshtml";
}

<header class="client-bg"></header>
<div class="container uni-container">
    <h2 class="all-head">About Us</h2>
    <div class="row">
        <div class="col-md-12 p-setting-container-2">
            <p>
                Microsoft Dynamics enterprise resource planning (ERP) software gives your people the
                tools they need to connect and manage your entire business, from financial and supply
                chain management and from manufacturing to operations, with the insight you need to
                make smart decisions. Start with what you need now and easily adapt as your needs
                change, in the cloud or on your servers—the choice is yours.Start with what you need
                now and easily adapt as your needs change, in the cloud or on your servers—the choice is yours.
                <br>
                ERP Software automates and integrates core business processes such as taking customer
                orders, scheduling operations, and keeping inventory records and financial data. ERP
                software can drive huge improvements in the effectiveness of any organisation,
                including all of them.ERP Software automates and integrates core business processes such as taking customer
                orders, scheduling operations, and keeping inventory records and financial data.
            </p>
        </div>
        <div class="col-sm-6 client">
            <div class="thumbnail p-setting-container-1">
                <h3 class="all-head">Our Mission</h3>
                <p>
                    Microsoft Dynamics enterprise resource planning (ERP) software gives your people the
                    tools they need to connect and manage your entire business, from financial and supply
                    chain management and from manufacturing to operations, with the insight you need to
                    make smart decisions. Start with what you need now and easily adapt as your needs
                    change, in the cloud or on your servers—the choice is yours.Start with what you need
                    now and easily adapt as your needs change, in the cloud or on your servers—the choice is yours.
                </p>
            </div>
        </div>
        <div class="col-sm-6 client">
            <div class="thumbnail p-setting-container-1">
                <h3 class="all-head">Our Vision</h3>
                <p>
                    Microsoft Dynamics enterprise resource planning (ERP) software gives your people the
                    tools they need to connect and manage your entire business, from financial and supply
                    chain management and from manufacturing to operations, with the insight you need to
                    make smart decisions. Start with what you need now and easily adapt as your needs
                    change, in the cloud or on your servers—the choice is yours.Start with what you need
                    now and easily adapt as your needs change, in the cloud or on your servers—the choice is yours.
                </p>
            </div>
        </div>
    </div>
</div>