
@{
    Layout = "~/Views/Shared/Land_new.cshtml";


}

<header class="client-bg"></header>
<div class="container uni-container">
    <h2 class="all-head">Clients</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4 client">
            <div class="thumbnail">
                <img src="~/img/client.jpg" alt="...">
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at volutpat orci. Quisque in metus sed justo mattis tempor ut eu risus.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 client">
            <div class="thumbnail">
                <img src="~/img/client.jpg" alt="...">
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at volutpat orci. Quisque in metus sed justo mattis tempor ut eu risus.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Read more</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 client">
            <div class="thumbnail">
                <img src="~/img/client.jpg" alt="...">
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at volutpat orci. Quisque in metus sed justo mattis tempor ut eu risus.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

