@model Mhasb.Wsit.CustomModel.Contact.ContactCustome


<div class="container my-dashboard">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">

            <div class="welcome">
                <h3 class="all-head">Add Contact</h3>
            </div>
            <hr>
            <p>What's this &nbsp;<i class="fa fa-comments"></i></p>
            <div class="row clearfix no-margin card">
                <div class="col-md-12">
                    <div class="row clearfix">
                        <div class="row cstm-frm-row cstm-ro">
                            <h4>Contact Information</h4>
                        </div>
                        <div class="row cstm-frm-row-hed">
                            <div class="col-md-12 cstm-anc">
                                <h5>Add Contact</h5>
                                <h6>Contact</h6>
                                <input class="cstm-input-con" type="text" placeholder=""><br><br>
                                <a href="#">+ Add Account Number</a><span class="cstm-opt12"> (optional - create a unique code for each Contact)</span>
                                <h6>Account Number</h6>
                                <input class="cstm-input-con" type="text" placeholder="">
                                <div class="col-md-12 cstm-border-con"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="row cstm-frm-row cstm-ro">
                            <h4>Primary Person</h4>
                        </div>
                        <div class="row cstm-frm-row-hed">
                            <div class="col-md-12 cstm-anc">
                                <div class="col-md-3">

                                    <h6>First Name</h6>
                                    <input class="cstm-input-con1" type="text" placeholder="">
                                </div>
                                <div class="col-md-3">
                                    <h6>First Name</h6>
                                    <input class="cstm-input-con2" type="text" placeholder="">
                                </div>
                                <div class="col-md-3">
                                    <h6>First Name</h6>
                                    <input class="cstm-input-con3" type="text" placeholder=""><br><br>
                                </div>

                                <div class="col-md-12">
                                    <a href="#">+ Add Another Person</a>
                                </div>
                                <div class="col-md-3">

                                    <h6>First Name</h6>
                                    <input class="cstm-input-con1" type="text" placeholder="">
                                </div>
                                <div class="col-md-3">
                                    <h6>Last Name</h6>
                                    <input class="cstm-input-con2" type="text" placeholder="">
                                </div>
                                <div class="col-md-3">
                                    <h6>Email</h6>
                                    <input class="cstm-input-con3" type="text" placeholder=""><br><br>
                                </div>
                                <div class="col-md-2">
                                    <h6>Input Emails</h6>
                                    <input type="checkbox">
                                </div>
                                <div class="col-md-1 cstm-crs">
                                    <br><br>
                                    <a href="">X</a>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="row cstm-frm-row cstm-ro">
                            <h4>Contact Details</h4>
                        </div>
                        <div class="row cstm-frm-row-hed">
                            <div class="col-md-12 cstm-anc">
                                <div class="col-md-4 cstrm-p">
                                    <div class="col-md-12">
                                        <h5>Postal Address</h5>
                                    </div>
                                    <div class="col-md-3 cstm-p">
                                        <p>Attention</p>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="cstm-input-con3" type="text" placeholder="">
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>Street Address or PO Box</p>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea class="cstm-tarea" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>Town/City</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>State/Region</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>Postal/Zip Code</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>Country</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 cstrm-p">
                                    <div class="col-md-12">
                                        <h5>Postal Address<span class="cstm-sp"> [Same as postal address]</span></h5>
                                    </div>
                                    <div class="col-md-3 cstm-p">
                                        <p>Attention</p>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="cstm-input-con3" type="text" placeholder="">
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>Street Address or PO Box</p>
                                        </div>
                                        <div class="col-md-9">
                                            <textarea class="cstm-tarea" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>Town/City</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>State/Region</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>Postal/Zip Code</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="col-md-3 cstm-p">
                                            <p>Country</p>
                                        </div>
                                        <div class="col-md-9">
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-md-12 cstm-opt12345">
                                        <h4>
                                            Telephone <a class="tooltips" href="#">
                                                <i class="fa fa-question-circle">
                                                    <span>Tooltip</span>
                                                </i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <p>Country</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <p>Area</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-5">
                                            <p>Number</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4>Fax</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <p>Country</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <p>Area</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-5">
                                            <p>Number</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4>Mobile</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <p>Country</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <p>Area</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-5">
                                            <p>Number</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h4>Direct Dial</h4>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <p>Country</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <p>Area</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-5">
                                            <p>Number</p>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col-md-12 cstm-inpu">
                                        <p>Skype Name/Number</p>
                                        <input class="cstm-input-con3" type="text" placeholder="">
                                    </div>
                                    <div class="col-md-12 cstm-inpu">
                                        <p>Website</p>
                                        <input class="cstm-input-con3" type="text" placeholder="http://">
                                    </div>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                                <div class="col-md-12">
                                    <h3>Financial Details</h3>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                                <div class="col-md-12">
                                    <h4>Default account settings <span class="cstm-opt123">These settings can be overridden on individual transactions</span></h4>
                                    <h4>For Sales</h4>
                                    <div class="col-md-8">
                                        <div class="col-md-4">
                                            <h5>Default Tax</h5>
                                            <label class="cstm-select">
                                                <select>
                                                    <option selected> USA </option>
                                                    <option>UK</option>
                                                    <option>Bangladesh</option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Default Account</h5>
                                            <label class="cstm-select">
                                                <select>
                                                    <option selected> USA </option>
                                                    <option>UK</option>
                                                    <option>Bangladesh</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h4>For Purchases</h4>
                                    <div class="col-md-8">
                                        <div class="col-md-4">
                                            <h5>Default Tax</h5>
                                            <label class="cstm-select">
                                                <select>
                                                    <option selected> USA </option>
                                                    <option>UK</option>
                                                    <option>Bangladesh</option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Default Account</h5>
                                            <label class="cstm-select">
                                                <select>
                                                    <option selected> USA </option>
                                                    <option>UK</option>
                                                    <option>Bangladesh</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                                <div class="col-md-12">
                                    <h4 class="cstm-opt12345">
                                        Tax <a class="tooltips" href="#">
                                            <i class="fa fa-question-circle">
                                                <span>Tooltip</span>
                                            </i>
                                        </a><span class="cstm-opt123"> This default tax rates can be overridden on individual transactions</span>
                                    </h4>
                                    <div class="col-md-8">
                                        <div class="col-md-4">
                                            <h5>Tax ID Number</h5>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Sales Tax</h5>
                                            <label class="cstm-select">
                                                <select>
                                                    <option selected> USA </option>
                                                    <option>UK</option>
                                                    <option>Bangladesh</option>
                                                </select>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Purchases Tax</h5>
                                            <label class="cstm-select">
                                                <select>
                                                    <option selected> USA </option>
                                                    <option>UK</option>
                                                    <option>Bangladesh</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                                <div class="col-md-12">
                                    <h4>Sales Discount <span class="cstm-opt123"> This default sales discount rate can be overridden on individual transactions in sales invoices and quotes</span></h4>
                                    <div class="col-md-8">
                                        <div class="col-md-3">
                                            <h5>Discount %</h5>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                                <div class="col-md-12">
                                    <h4>Currency <span class="cstm-opt123"> This default currency can be overridden on individual transactions.</span></h4>
                                    <div class="col-md-8">
                                        <div class="col-md-3">
                                            <h5>Default Currency</h5>
                                            <label class="cstm-select">
                                                <select>
                                                    <option selected> USA </option>
                                                    <option>UK</option>
                                                    <option>Bangladesh</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                                <div class="col-md-12">
                                    <h4 class="cstm-opt12345">
                                        Batch Payments <a class="tooltips" href="#">
                                            <i class="fa fa-question-circle">
                                                <span>Tooltip</span>
                                            </i>
                                        </a>
                                    </h4>
                                    <div class="col-md-12 cstm-border-con"></div>
                                    <div class="col-md-8">
                                        <div class="col-md-4">
                                            <h5>Bank Account Number</h5>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Bank Account Name</h5>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                        <div class="col-md-4">
                                            <h5>Details</h5>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                                <div class="col-md-12">
                                    <h4>Invoice Settings <span class="cstm-opt123"> This settings can be overridden on individual sales invoices credit notes, statements, purchase orders and quotes</span></h4>
                                    <div class="col-md-5">
                                        <h5>Bills Default Due Date (optional)</h5>
                                        <div class="col-md-12">
                                            <div class="col-md-1 cstm-p">
                                                <p>Due</p>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="cstm-input-con3" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-8">
                                                <label class="cstm-select">
                                                    <select>
                                                        <option selected> USA </option>
                                                        <option>UK</option>
                                                        <option>Bangladesh</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <h5>Sales Invoices Default Due Date(optional)</h5>
                                        <div class="col-md-12">
                                            <div class="col-md-1 cstm-p">
                                                <p>Due</p>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="cstm-input-con3" type="text" placeholder="">
                                            </div>
                                            <div class="col-md-8">
                                                <label class="cstm-select">
                                                    <select>
                                                        <option selected> USA </option>
                                                        <option>UK</option>
                                                        <option>Bangladesh</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                                <div class="col-md-12">
                                    <h4>MHSAB Network Key <span class="cstm-opt123"> This must be provided by the contact</span></h4>
                                    <div class="col-md-8">
                                        <div class="col-md-4">
                                            <h5>Key</h5>
                                            <input class="cstm-input-con3" type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 cstm-border-con"></div>
                                <div class="col-md-12 cstm-btn-submit pull-right">

                                    <button type="button" class="btn btn-danger pull-right">Cancel</button>
                                    <button type="button" class="btn btn-info pull-right cstm-btn-s">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row cstm-his">
                        <span class="cstm-opt1234">
                            History & Notes
                            <!-- Button trigger modal -->

                            <a class="tooltips" href="#">
                                <i class="fa fa-question-circle">
                                    <span>Tooltip</span>
                                </i>
                            </a>
                            <span>
                    </div>
                    <div class="row">
                        <input class="btn btn-default" type="button" value="Show History (0 entries)">
                        <input class="btn btn-default" type="button" value="Add Note">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End welcome dashboard section-->