<div class="row cstm-frm-row">
    <div class="col-md-4">
        Profile Cover
    </div>
    <div class="col-md-8">
        <input class="pull-left" name="profile_pic" id="profile_pic" type="file" />
        <img id="profile_pic_target" src="" alt="Your Photo" width="120" />
    </div>
</div>

