<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Industry";
   
}
<div class="container">

    <p class="btn btn-success link">
        @Html.ActionLink("Create New", "Create", new { area = "Commons" }, new { @class = "link" })
    </p>
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="button" id="SearchStringBtn" value="Search" />
    </p>
    <div id="LanguageListShow">

    </div>
    @*@Html.Action("List")*@
</div>

@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {

            $.get('@Url.Action("List", "Industry", new { Area = "Commons" })' + '?page=', function (data) {
                $('#LanguageListShow').html(data);
            }
                );

        });
        $(document).on("click", "#SearchStringBtn", function () {
            var baseUrl = '@Url.Content("~/")';
            var SearchString = $("#SearchString").val();
            var url = baseUrl + "Commons/Industry/List?page=''" + "&SearchString=" + SearchString;
            console.log(url);
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#content').html(result);
                }
            });
            return false;
        });
    </script>
}

