
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Country";
}
<style>
    .link {
        margin-bottom: 10px;
        color: #fff;
    }
</style>

<div class="container">
    <div class="col-md-12">
        <h2>Index</h2>

        <div class="btn btn-success" style="margin-bottom:10px;color:#fff;">
            @Html.ActionLink("Create New", "Create", new { @class = "link" })
            &nbsp;<i class="fa fa-plus-circle">
            </i>
        </div>
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="button" id="SearchStringBtn" value="Search" />
        </p>
        <div id="ActionListListShow">

        </div>
    </div>
</div>



@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $.get('@Url.Action("List", "ActionList", new { Area = "UserManagement" })' + '?page=', function (data) {
                $('#ActionListListShow').html(data);
            }
            );
       
        });

        $(document).on("click", "#SearchStringBtn", function () {
            var baseUrl = '@Url.Content("~/")';
            var SearchString = $("#SearchString").val();
            var url = baseUrl + "UserManagement/ActionList/List?page=''" + "&SearchString=" + SearchString;
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#content').html(result);
                }
            });
            return false;
        });
    </script>
}

